{% extends 'base.html' %}

{% block title %} login {% endblock %}

{% block content %}
    <form action="{{ url_for('login') }}" method="post">
        <div class="input-group flex-nowrap">
          <span class="input-group-text" id="addon-wrapping">Name:</span>
          <input type="text" id="user" name="user" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="addon-wrapping">
            <button type="submit" class="btn btn-outline-dark">Login</button>
        </div>
    </form>
{% endblock %}